<%= form_with model: meeting, url: local_path, method: request, data: {turbo: false} do |form| %>
  <%= form.text_field :name, placeholder: t("activerecord.attributes.meeting.name"), class: "mb-2 form-control w-75" %>
  <%= form.text_field :place, placeholder: t("activerecord.attributes.meeting.place"), class: "mb-2 form-control w-75" %>
  
  <div class ="form-control mb-2 w-75">
    <%= form.label t("activerecord.attributes.meeting.date"), class: "mb-2 w-25" %><br />
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
      <%= form.text_field :date, value: time, class: "form-control datetimepicker-input", 'data-target':"#datetimepicker1" %>
      <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <span class="fa fa-calendar pl-3"></span>
      </span>
    </div>
  </div>

  <%= form.text_area :description, placeholder: t("activerecord.attributes.meeting.description"), class: "mb-2 form-control w-75" %>

  <%= form.submit t("my.meetings.meeting_form.submit"), class: "btn btn-primary w-75 mb-3" %>
<% end %>
