<%= form_with model: meeting, url: local_path, method: request, data: {turbo: false} do |form| %>
  <%= form.text_field :name, placeholder: t("activerecord.attributes.meeting.name"), class: "mb-2 form-control w-75" %>
  <%= form.text_field :place, placeholder: t("activerecord.attributes.meeting.place"), class: "mb-2 form-control w-75" %>
  
  <div class ="form-control mb-2 w-75">
    <%= form.label t("activerecord.attributes.meeting.date"), class: "mb-2 w-25" %><br />
    <%= form.text_field :date, class: "input-group form-control", id: "datepicker", value: meeting.date&.strftime('%d.%m.%Y %H:%m') %>
  </div>

  <%= form.text_area :description, placeholder: t("activerecord.attributes.meeting.description"), class: "mb-2 form-control w-75" %>

  <%= form.submit t("my.meetings.meeting_form.submit"), class: "btn btn-primary w-75 mb-3" %>
<% end %>
