<div class="row">
    <div class="col-12 mt-3">
      <div style="background-image: url(<%= image_path "meet.jpg" %>)" class="event-background"></div>
      <%= render 'meetings/text_content', m: @meeting %>
    </div>
</div>

<div class="row mt-4">
  <div class="col-md-8">
    <% if current_user == @user %>
      <div class="d-flex flex-row">
        <%= link_to "Редактировать событие", edit_meeting_path(@meeting), class: "btn btn-success mr-3" %>
        <%= button_to "Удалить событие", meeting_path(@meeting), class: "btn btn-danger", method: :delete %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div>
      <h3>Создатель: <%= link_to @user.nickname, user_path(@user), class: "btn btn-primary" %></h3>
    </div>
    <h3>Пойдут:</h3>
  </div>
</div>
