<div class="row">
    <div class="col-12 mt-3">
      <div style="background-image: url(<%= image_path "meet.jpg" %>)" class="event-background"></div>
      <%= render 'meetings/text_content', meeting: @meeting %>
    </div>
</div>

<div class="row mt-4">
  <div class="col-md-8">
    <% if current_user == @user %>
      <div class="d-flex flex-row">
        <%= link_to t("my.meetings.show.edit"), edit_meeting_path(@meeting), class: "btn btn-success mr-3" %>
        <%= button_to t("my.meetings.show.delete"), meeting_path(@meeting), class: "btn btn-danger", method: :delete, form: { data: { 'turbo-confirm': t("my.meetings.show.delete_confirm") } } %>
      </div>
    <% end %>

    <div class="buffer-top">
      <div class="buffer-both">
      <h2><%= t("my.meetings.show.comments") %></h2>
        <%= render partial: 'comments/comment',
          collection: @meeting.comments,
          owner: @user
           %>
        <%= render partial: 'comments/comment_form' %>
      </div>
    </div>

  </div>
  <div class="col-md-4">
  <% if @user.present? %>
    <div>
      <h3><%= t("my.meetings.show.creator") %>: <%= link_to @user.nickname, user_path(@user), class: "btn btn-primary" %></h3>
    </div>
  <% end %>
    <h3><%= t("my.meetings.show.invited") %>:</h3>
    <div>
      <p>
        <%= render partial: 'subscriptions/subscription',
        collection: @meeting.subscriptions.except(@new_subscription) %>
      </p>
    </div>
    <div class="meeting-subscription-form">
      <% if user_signed_in? %>
        <%= button_to t("my.meetings.show.sub"), meeting_subscriptions_path(@meeting), class: "btn btn-primary", method: :post %>
      <% else %>
        <%= render "subscriptions/subscription_form" %>
      <% end %>
    </div>
  </div>
</div>
