<div class="row">
    <div class="col-12 mt-3 px-0">
      <div style="background-image: url(<%= image_path meeting_photo(@meeting) %>)" class="event-background"></div>
      <%= render 'meetings/text_content', meeting: @meeting %>
    </div>
</div>

<div class="row mt-4">
  <div class="col-md-8">
    <% if current_user == @user %>
      <div class="d-flex flex-row">
        <%= link_to t("my.meetings.show.edit"), edit_meeting_path(@meeting), class: "btn btn-success mr-3" %>
        <%= button_to t("my.meetings.show.delete"), meeting_path(@meeting), class: "btn btn-danger", method: :delete, form: { data: { 'turbo-confirm': t("my.meetings.show.delete_confirm") } } %>
      </div>
    <% end %>

    <div class="mb-3 mt-1"><h2>Описание данного события:</h2><h5 class="word-break color-gray"><%= @meeting.description %></h5></div>

    <h2 class="mt-3"><%= t("my.meetings.show.photos") %></h2>
    <div class="row">
      <div class="col-md-8">
        <%= render partial: 'photos/photo', collection: @meeting.photos %>
        <% if @meeting.photos.blank? %>
          <h5 class="color-gray">Фотографий пока что нет</h5>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="form-control mt-3 mb-1">
        <%= render partial: 'photos/form' %>
      </div>
    <% end %>

    <div class="buffer-top">
      <div class="buffer-both">
      <h2 class="mt-3"><%= t("my.meetings.show.comments") %></h2>
        <%= render partial: 'comments/comment',
          collection: @meeting.comments,
          owner: @user
           %>
        <%= render partial: 'comments/comment_form' %>
      </div>
    </div>

  </div>
  <div class="col-md-4">
  <% if @user.present? %>
    <div>
      <h3><%= t("my.meetings.show.creator") %>:</h3><div class="px-2"><%= render "users/user", user: @user %></div></p>
    </div>
  <% end %>
    <h3><%= t("my.meetings.show.invited") %>:</h3>
    <div>
      <p>
        <%= render partial: 'subscriptions/subscription',
        collection: @meeting.subscriptions.except(@new_subscription) %>
      </p>
    </div>
    <div class="meeting-subscription-form">
      <% if @meeting.user != current_user %>
        <% if user_signed_in? %>
          <%= button_to t("my.meetings.show.sub"), meeting_subscriptions_path(@meeting), class: "btn btn-primary", method: :post %>
        <% else %>
          <%= render "subscriptions/subscription_form" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
