<div class="row">
    <div class="col-12 mt-3">
      <div style="background-image: url(<%= image_path "meet.jpg" %>)" class="event-background"></div>
      <div class="card-body event-description dimming">
        <h5><%= link_to @meeting.name, meeting_path(@meeting.id) %></h5>
        <h6><%= l @meeting.date, format: :short %><h6>
        <h6><%= @meeting.place %><h6>
      </div>
    </div>
</div>

<div class="row mt-5">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <div>
      <h3>Создатель:</h3>
      <%= link_to @user.nickname, user_path(@user), class: "btn btn-primary" %>
    </div>
    <h3>Пойдут:</h3>
  </div>
</div>
