<h1><%= t '.title' %></h1>
<p><%= t '.author' %>: <strong><%= @photo.user.nickname %></strong></p>

<hr/>

<p><strong><%= t '.meeting' %>:</strong> <%= @meeting.name %></p>

<p><strong><%= t '.datetime' %>:</strong> <%= l @meeting.date, format: :long %></p>

<p><strong><%= t '.owner' %>:</strong> <%= @meeting.user.nickname %></p>
