<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @name %></strong></p>
<p><%= t '.email' %>: <strong><%= link_to @email, "mailto:#{@email}" %></strong></p>
<hr/>

<p><strong><%= t '.meeting' %>:</strong> <%= link_to @meeting.name, meeting_url(@meeting) %></p>

<p><strong><%= t '.datetime' %>:</strong> <%= l @meeting.date, format: :long %></p>

<p><strong><%= t '.owner' %>:</strong> <%= link_to @meeting.user.nickname, meeting_url(@meeting.user) %></p>
