<h1><%= t("my.users.edit.title") %></h1>
<%= form_with model: @user, url: user_update(@user), method: :patch, data: {turbo: false} do |form| %>
  <div class="mb-2 form-control w-75">
    <div><%= form.label :avatar %></div>
    <div class="mb-2"><%= image_tag(user_thumb_avatar(@user), size: "100x100", class: "rounded-circle") %></div>

    <div><%= form.file_field :image %></div>
  </div>

  <%= form.text_field :nickname, placeholder: @user.class.human_attribute_name(:nickname), class: "mb-2 form-control w-75" %>
  <%= form.text_field :email, placeholder: @user.class.human_attribute_name(:email), class: "mb-2 form-control w-75" %>

  <%= form.submit t("my.users.edit.submit"), class: "btn btn-primary w-75 mb-3" %>
<% end %>
<%= link_to t("my.users.edit.back"), @user %>
