<div class="mt-3 w-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-primary"><%= @user.nickname %></h1>
  <%= image_tag "user.png", size: "160x160", class: "rounded-circle" %>
</div>

<% if current_user == @user %>
  <div class="d-flex flex-row justify-content-center align-items-center mt-5 mb-5">
    <%= link_to t("my.users.show.edit"), edit_user_path(@user), class: "btn btn-outline-success mr-3" %>
    <%= button_to t("my.users.show.delete"), user_path(@user), class: "btn btn-outline-danger", method: :delete, form: { data: { 'turbo-confirm': t("my.users.show.delete_confirm") } } %>
  </div>
<% end %>

<% if @user.meeting.empty? %>
    <h2 class="text-center color-gray"><%= t("my.users.show.no_meetings") %></h2>
  <% end %>

<%= render "layouts/meetings_list", meetings: @user.meeting %>
