<div class="ml-5">
  <h2><%= t "my.passwords.new.title" %></h2>

  <div class = "form-group">
    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t("activerecord.attributes.user.email"), class: "mb-2 form-control w-75" %>
      </div>

      <div class="actions">
        <%= f.submit t("my.passwords.new.submit"), class: "btn btn-primary w-75" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
