<!DOCTYPE html>
<html>
  <head>
    <title>Meetings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <%= link_to "Meetings", root_path, class: "navbar-brand mx-2" %>
      
      <div class="ml-3">
        <ul class="navbar-nav">
          <% unless user_signed_in? %>
            <li class="nav-item active">
              <%= link_to t("my.sessions.new.title"), new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to t("my.registrations.new.title"), new_user_registration_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to t("my.application.my_profile"), user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= button_to t("my.application.exit"), destroy_user_session_path, class: "nav-link bg-primary border-0", method: 'delete' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class ="mx-5">
    <%= render 'layouts/successful_action_message' %>
    <%= render 'layouts/error_action_message' %>
      <%= yield %> 
    </div>

    
  </body>
</html>
